body {
    margin: 0;
    background-color: rgb(232, 232, 228);
    width: 100%;
}

.container {
    border: none;
    padding: none;
    margin: none;
    width: 100%;
    
}

.menu-icon {
    display: flex;
    cursor: pointer;
    padding: 10px;
    background-color: transparent;
    position: fixed;
    top: 20px;
    left: 95%;
    z-index: 3;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(80, 80, 80, 0.80);
    overflow-x: hidden;
    transition: 1s;
    padding-top: 60px;
    z-index: 2;
}

.sidebar ul {
    display: flex;
    margin-top: 40px;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    list-style: none;
    margin-bottom: 70px;
}

.sidebar li {
    padding: 10px;
    font-family: 'Arimo', sans-serif;
}

.link {
    text-decoration: none;
    color: white;
    font-size: 19px;
    padding: 0.5rem 0.5rem;
    position: relative;
}

.link::before,
.link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: white;
    transform: scaleX(0);
    transition: all 0.8s ease;
}

.link::before {
    top: 0;
    left: 0;
    transform-origin: left;
}

.link::after {
    bottom: 0;
    left: 0;
    transform-origin: right;
}

.link:hover::before,
.link:hover::after {
    transform: scaleX(1);
}

.neurophormism {
    width: 65%;
    padding: 20px;
    border-radius: 140px;
    background: linear-gradient(315deg, #f0f0f0, #cacaca);
    box-shadow:  -21px -21px 50px #afafaf,
                 21px 21px 50px #ffffff;
}


.JustTheNeurophormism {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
    width: 100%;
    background: linear-gradient(to top, #4fb576 0%, #44c489 30%, #28a9ae 46%, #28a2b7 59%, #4c7788 71%, #6c4f63 86%, #432c39 100%);
    overflow: hidden;
}


.helloWorld {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.helloWorld h1 {
    color: transparent;
    font-family: 'Abril Fatface', serif;
    font-size: 142px;
    border-top: 0px;
    margin-top: 0px;
    padding: 30px;
    text-align: center;
    margin: 0;
    color: white;
    
    position: relative;
    background-image: url("https://images.unsplash.com/photo-1506104489822-562ca25152fe?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8NGslMjBuYXR1cmV8ZW58MHx8MHx8fDA%3D");
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat;

    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    z-index: 1;
}   


.postHelloWorld {
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

.codeJoke {
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    margin-right: 4%;
}

.titleAndPhoto {
    display: flex;
    flex-direction: row;
    margin-left: 4%;
    
}

.titleH1 {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 5px;
}

.animatedTitleH1 {
    font-family: 'Open Sans', sans-serif;
    padding: 5px;
    height: 40px;
    margin: 0;
}

.titleDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5px;
    width: 340px;
}

.myPhoto {
    width: 180px;
    height: 180px;
    border-radius: 35%;
}

.pCodeJoke {
    margin: 5px;
    padding: 0;
    border: 0;
}

.constructorIndentation {
    text-indent: 20px;;
}

.thisIndentation {
    text-indent: 40px;
}

#constructor {
    color: rgb(200, 0, 0);
}

#red {
    color: green;
}

.this {
    color: rgb(0, 0, 220);
}

#Eduardo {
    color: rgb(255, 191, 0);
}

.education {
    display: flex;
    margin: 20px;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 2.5rem;
}


.previouswork {
    display: flex;
    margin: 40px;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 2.5rem;
}

.educationH1{
    font-family: 'Maven Pro', sans-serif;
    font-weight: 600;
    font-size: 36px;
    margin-left: 30px;
}

.educationCard {
    margin-top: 20px;
    border-radius: 30px;
    height: 450px;
    
    box-sizing: border-box;
    background-color: #fafaff;
    min-width: 330px;
    max-width: 330px;
    perspective: 1000px;
    transition: transform 1s;
    position: relative;
    
}

.educationCard .cardContent {
    /* Styles for both front and back content */
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1.5s;
    backface-visibility: hidden;
}

.front {
    opacity: 1;
    transition: opacity 1s;
}

.educationCard:hover .front{
    opacity: 0;
    transition: opacity 1s;
}

.educationCard .back {
    border-radius: 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    backface-visibility: hidden;
    opacity: 0;
    transition: opacity 1s, transform 1s;
}

.back {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.educationCard:hover .back{
    opacity: 1; 
}

.educationCard .back ul {
    list-style-type: none;
    padding: 0;
}

.educationTopCard {
    border-radius: 30px;
    height: 50%;
}

.belowImage {
    height: 50%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.educationImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 30px; 
    border-top-left-radius: 30px; 
}

.nameOfSchool {
    text-align: center;
    background-color: #663dff;
    background-image: linear-gradient(319deg, #663dff 0%, #aa00ff 37%, #cc4499 100%);
    padding: 10px;
    border-radius: 20px;
    color: white;
    align-self: flex-start;
    margin-left: 25px;
    font-family: 'Roboto', sans-serif;
}

.nameOfCourse {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 35px;
}

.schoolanddates {
    width: 100%;
    display:flex;
    justify-content: space-between;
    margin-top: 15px;
}

.dates {
    text-align: center;
    background: radial-gradient(circle at 12.3% 19.3%, rgb(85, 88, 218) 0%, rgb(95, 209, 249) 100.2%);
    border-radius: 20px;
    color: white;
    padding: 10px;
    margin-right: 25px;
    justify-self: flex-end;
}

.skillsH3 {
    font-family: 'Maven Pro', sans-serif;
    margin-bottom: 0px;
}

.skillsList {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.skillsList li {
    padding: 2px;
}

.socialMediaDiv {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
}

.socialIcon {
    
    padding: 10px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    overflow: hidden;
}


.socialIcon:hover {
    cursor: pointer;
    opacity: 0.5;
}

.Instagram {
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.Linkedin {
    background-color: #0072B1;
}

.Methods {
    margin-top: 50px;
    margin-right: 70px;
    margin-left: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    font-family: 'Roboto', sans-serif;
    color: white;
}


.emailDiv {
    display: flex;
    gap: 5px;
}

.phoneDiv {
    display: flex;
    gap: 5px;
}

.Gmail {
    margin-top: 3px;
}

.phoneGif {
    margin-top: 5px;
    width: 24px;
    height: 24px;
}

.portugalFlag {
    width: 15px;
    height: 15px;
}

.phoneAndFlag {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;

}

.adressDiv {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: flex-start;
}

.adressIcons {
    width: 24px;
    height: 24px;
    margin-top: 2px;
}

.orderAdress {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.contactInfo {
    display: flex;
    flex-direction: column;
    gap: 30px;
    z-index: 2;
}

.contactsH3 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 50px;
    color: white;
}

.neurophormismContacts {

    width: 70%;
    padding: 30px;
    border-radius: 104px;
    background: linear-gradient(145deg, #2a2929, #232222);
    box-shadow:  26px 26px 100px #171616,
                 -26px -26px 100px #373636;
    
    position: relative;
    transform-style: preserve-3d;
}


.faceContacts {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transition: 2s ease-in-out;
    transform: perspective(500px) rotateY(0deg);
}



.faceContacts.backContacts {
    transform: perspective(500px) rotateY(180deg);
}

.transparentDiv:hover .faceContacts.frontContacts {
    transform: perspective(500px) rotateY(180deg);
}

.transparentDiv:hover .faceContacts.backContacts {
    transform: perspective(500px) rotateY(360deg);
}

.frontContacts {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.transparentDiv {
    width: 100%;
    height: 100%;
}

.backContacts {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hireMeH1 {
    text-align: center;
    color: transparent;
    font-family: 'Abril Fatface', serif;
    font-size: 180px;
    background-image: url("https://www.atlasandboots.com/wp-content/uploads/2019/05/ama-dablam2-most-beautiful-mountains-in-the-world.jpg");
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.initialFrontPage {
    min-height: 100vh;
}

.aboutH1{
    font-family: 'Playfair Display', serif;
    color: #202A44;
    font-size: 50px;
}


.containerAbout {
    margin-top: 150px;
    margin-bottom: 150px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.containerAbout span {
    position: absolute;
    width: 300px;
    height: 60px;
    
    border: 2px solid #fff;
    transition: 0.5s;
}

.containerAbout span:nth-child(1) {
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    animation: animate 6s linear infinite;
    filter: drop-shadow(0 0 20px var(--clr));
    margin-left: 50px;
}

.containerAbout span:nth-child(2) {
    border-radius: 41% 44% 56% 59% / 38% 62% 63% 37%;
    animation: animate 4s linear infinite;
    filter: drop-shadow(0 0 20px var(--clr));
    margin-left: 50px;
}

.containerAbout span:nth-child(3) {
    border-radius: 41% 44% 56% 59% / 38% 62% 63% 37%;
    animation: animate2 10s linear infinite;
    filter: drop-shadow(0 0 20px var(--clr));
    margin-left: 50px;
}

.containerAbout:hover span {
    border: 4px solid var(--clr);
    filter: drop-shadow(0 0 20px var(--clr));
}

.textAboutMe {
    font-family: 'Roboto';
    text-align: justify;
}


.backgroundAbout {
    display: flex;
    flex-wrap: wrap;
    z-index: -1;
}

.aboutH1Div {
    position: absolute;
    width: 300px;
    height: 100px;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebarAbout {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #202A44;
    opacity: 0.5;
    width: 80px;
    transition: opacity 0.4s;
    font-family: 'Source Code Pro', monospace;
}

.sidebarAbout:hover {
    opacity: 0.85;
}
  
.rotated-letter {
    display: block;
    transform: rotate(-90deg);
    margin-bottom: 8px;
    color: #fff; 
    font-weight: bold;
    
}
  

.linkAbout {
    text-decoration: none;
    color: white;
    padding: 0.3rem 0.5rem;
    position: relative;
    transition: font-size 0.2s ease-in-out;
}

.linkAbout:hover {
    font-size: 20px;
    font-weight: bolder;
}
  
#AcademicJourney{
    margin-left: 120px;
    margin-right: 6%;
}

.backgroundAbout{
    opacity: 0.35;
}

#Interests{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 100px;
    flex-wrap: wrap;
    margin-left: 100px;
}

.InterestsCard {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 300px;
    aspect-ratio: 1/1;
    position: relative;
    color: white;
    cursor: pointer;
}

.InterestsImageBox img {
    display: block;
    border-radius: 5%;
    aspect-ratio: 1/1;
    width: 100%;
    height: 100%;
    object-fit:unset;
    filter: grayscale(0) brightness(1);
    scale: 1;
    transition: scale 2s ease-in-out, filter 1s ease-in-out;
}

.InterestsCard:hover .InterestsImageBox img{
    filter: grayscale(1) brightness(0.7);
    scale: 0.8;
}

.InterestsMainText span {
    transition-delay: 0.2s;
    transform: translateY(100%);
}

.InterestsSubText span {
    transform: translateY(-100%);
    transition-delay: 0.5s;
}

.InterestsCard:hover .InterestsTextBox :is(span) {
    transform: translateY(0%);
}

.InterestsTextBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    font-family: 'Playfair Display', serif;
    font-size: 35px;
    transition: opacity 1s;
}

.InterestsCard:hover .InterestsTextBox {
    opacity: 1;
}

.skillsCard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    width: 300px;
    aspect-ratio: 1/1;
    position: relative;
    color: white;
    cursor: pointer;
}

#skills{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 100px;
    flex-wrap: wrap;
    margin-left: 100px;
}

.skillsImage {
    display: block;
    aspect-ratio: 1/1;
    width: 100%;
    height: 100%;
    object-fit: unset;
    border-radius: 5%;
}

#me {
    margin-left: 100px;
    text-align: justify;
    font-family: 'Roboto';
    margin-right: 6%;
}

.introductionMe {
    margin: 12px;
    padding: 0px;
    border: 0px;
}
    

.aboutMyPhoto {
    width: 32%; 
    height: 32%;
    max-width: 400px;
    max-height: 400px;
    margin-top: 4px;
    margin-left: 20px;
    margin-bottom: 20px;
    float: right;
}




@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes animate2 {
    0% {
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
  }


@media (max-width: 850px) {

    .helloWorld h1 {
        font-size: 90px;
    }

    .neurophormism {
        border-radius: 100px;
    }

    .postHelloWorld {
        display:flex;
        flex-direction: column;
        gap: 40px;
        justify-content: center;
        align-items: center;
    }

    .codeJoke {
        margin-left: 5%;
    }

    .hireMeH1 {
        font-size: 110px;
        
    }

    .menuIcon {
        margin-right: 10%;
    }
    .Methods {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
    }

    .adressDiv,
    .phoneAndEmail {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }

    .neurophormismContacts {
        width: 80%;
        height: 60%;
    }
}

.footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: url("https://wisynco.com/wp-content/uploads/2014/12/footer-background-011.jpg");
    object-fit: cover;
    overflow: hidden;

}

.FooterEduardo {
    font-family: "Roboto";
    font-size: 30px;
    font-weight: lighter;
    color: white;
    margin-top: 35px;
}

.FooterSocialMediaDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px;
}

.FooterNavBar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
}

.FooterSidebar {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;

}

.FooterSidebar li {
    margin: 10px;
}

.FooterLink {
    text-decoration: none;
    list-style: none;
    list-style-type: none;
    color: white;
    transition: font-size 0.6s ease;
}

.FooterLink:hover{
    font-size: 19px;

}

.copyright {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    color: white;
    font-family: "Roboto";
    font-size: 15px;
    margin-left: 9%;
    
}

.SocialMediaList {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
}

.item a {
    text-decoration: none;
    width: 3.3rem;
    height: 3.3rem;
    background-color: #f0f9fe;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    border: 2px solid #f0f9fe;
    overflow: hidden;
}

.item a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    z-index: 0;
    scale: 1 0;
    transform-origin: bottom;
    transition: scale 0.5s ease;
}

.item:hover a::before {
    scale: 1 1;
}

.icon {
    font-size: 2rem;
    color: hsl(203, 92%, 8%);
    transition: 0.65s ease;
    z-index: 2;
}

.item a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
}

.item:nth-child(1) {
    --bg-color: linear-gradient(to bottom right, #f9ce34, #ee2a7b, #6228d7);
}

.item:nth-child(2) {
    --bg-color: #0077b5;
}

.item:nth-child(3) {
    --bg-color: #000;
}

.item:nth-child(4) {
    --bg-color: #1877F2;
}

@media (max-width: 1070px) and (min-width: 850px) {

    .hireMeH1 {
        margin-top: 30px;
        font-size: 140px;
    }

    .neurophormismContacts {
        width: 80%;
    }

    .addressIcons {
        margin-top: 10px;
        z-index: 2;
    }
}

@media (min-width: 1432px) {

    .postHelloWorld {

        margin-top: 100px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 300px;
    }
    
}

@media (min-width: 1045px) {
    #me {
        margin-left: 15%;
        text-align: justify;
        font-family: 'Roboto';
        margin-right: 15%;

    }
    
    .introductionMe {
        margin: 12px;
        padding: 0px;
        border: 0px;
    }
        
    
    .aboutMyPhoto {
        width: 32%; 
        height: 32%;
        max-width: 400px;
        max-height: 400px;
        margin-top: 4px;
        margin-left: 20px;
        margin-bottom: 20px;
        float: right;
    }
}